<ion-view view-title="Perfil">

  <ion-content class="padding">

    <ion-list>

      <div class="list padding">
        <!-- INFORMAÇÕES DO PROFISSIONAL  TEMPO MEDIO-->
        <div class="item item-divider">
          Qual o tempo médio para concluir:
        </div>

        <label class="item item-input">

          <span class="input-label">mãos: {{account.time.hands}} hora(s)</span>

          <div class="range">
            <input type="range" name="accountTimeHands" min="0.5" max="2" ng-model="account.time.hands">
          </div>

        </label>

        <label class="item item-input">

          <span class="input-label">pés: {{account.time.feet}} hora(s)</span>

          <div class="range">
            <input type="range" name="accountTimeFeet" min="0.5" max="2" ng-model="account.time.feet">
          </div>

        </label>

        <!-- INFORMAÇÕES DO PROFISSIONAL  VALOR MEDIO -->
        <div class="item item-divider">
          Qual o valor médio para concluir:
        </div>

        <label class="item item-input">

          <span class="input-label">mãos: R$ {{account.price.hands}}.00</span>

          <div class="range">
            <input type="range" name="accountPriceHands" min="10" max="100" ng-model="account.price.hands">
          </div>

        </label>

        <label class="item item-input">

          <span class="input-label">pés: R$ {{account.price.feet}}.00</span>

          <div class="range">
            <input type="range" name="accountPriceHands" min="10" max="100" ng-model="account.price.feet">
          </div>

        </label>

        <!-- BOTÃO PARA SALVAR INFORMAÇÕES -->
        <button class="button button-block button-positive" ng-click="save()">
         Entrar
        </button>

      </div>



    </ion-list>

  </ion-content>

</ion-view>


