<ion-view view-title="Perfil">

  <ion-content class="padding">

    <ion-list>

      <div class="list padding">
        <!-- INFORMAÇÕES DO PROFISSIONAL  TEMPO MEDIO-->
        <div class="item item-divider">
          Qual o tempo médio para concluir:
        </div>

        <label class="item item-input">

          <div class="input-label">
            mãos:
          </div>

          <input type="range" name="accountTimeHands" min="0.5" max="2" ng-model="account.time.hands">
          <h4 class="text-center">{{account.time.hands}} hora(s)</h4>


        </label>

        <label class="item item-input">

          <div class="input-label">
            pés:
          </div>

          <input type="range" name="accountTimeFeet" min="0.5" max="2" ng-model="account.time.feet">
          <h4 class="text-center">{{account.time.feet}} hora(s)</h4>

        </label>

        <!-- INFORMAÇÕES DO PROFISSIONAL  VALOR MEDIO -->
        <div class="item item-divider">
          Qual o valor médio para concluir:
        </div>

        <label class="item item-input">

          <div class="input-label">
            mãos:
          </div>

          <input type="range" name="accountPriceHands" min="10" max="100" ng-model="account.price.hands">
          <h4 class="text-center">R$ {{account.price.hands}}.00</h4>

        </label>

        <label class="item item-input">

          <div class="input-label">
            pés:
          </div>

          <input type="range" name="accountPriceHands" min="10" max="100" ng-model="account.price.feet">
          <h4 class="text-center">R$ {{account.price.feet}}.00</h4>

        </label>

        <!-- BOTÃO PARA SALVAR INFORMAÇÕES -->
        <button class="button button-block button-positive" ng-click="save()">
         Entrar
        </button>

      </div>



    </ion-list>

  </ion-content>

</ion-view>


