<ion-view view-title="Home">
  <ion-content class="padding">
<!--       <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div> -->
    <div class="list card">
      <div class="item item-divider">Clientes</div>

      <div class="item item-body">
        <div>
          Você têm <b>9</b> agendados para hoje.
        </div>
      </div>

      <div class="item item-body">
        <div>
          Você têm <b>10</b> agendados para amanhã.
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Caixa possível</div>

      <div class="item item-body">
        <div>
          ao fim do dia terá <b>R$ 360.00</b>.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
