<ion-view view-title="Perfil Cliente" ng-hide="typeAccount.isManicure">

  <ion-content>

    <ion-list>
      <!-- INFORMAÇÕES DO PROFISSIONAL NOME/CELL-->
      <label class="item item-input">

        <input type="text" placeholder="Nome" ng-model="client.name">

      </label>

      <label class="item item-input">

        <input type="text" placeholder="nº cel" ng-model="client.cellphone">

      </label>

      <!-- INFORMAÇÕES DO PROFISSIONAL LOCALIZACAO-->
      <label class="item item-input item-select">

        <div class="input-label">
          Estado:
        </div>

        <select ng-options="state.name for state in states track by state.id" ng-model="client.selectedState" ng-change="updateCities(client.selectedState)"></select>

      </label>

      <label class="item item-input item-select">

        <div class="input-label">
          Cidade:
        </div>

        <select ng-options="city.name for city in cities track by city.id" ng-model="client.selectedCity"></select>

      </label>

      <!-- BOTÃO PARA SALVAR INFORMAÇÕES -->
      <button class="button button-block button-positive" ng-click="save()">
       Entrar
      </button>


    </ion-list>

  </ion-content>

</ion-view>
